html, body {
    margin: 0;
    height: 100%;
}

#visits-container {
    width: 100%;
    height: 50%;
}

#bottom {
    width: 100%;
    height: 50%;
    display: flex;
}

#mobile-container {
    flex: 1;
    position: relative;
    min-width: 0;
}

#referrer-container {
    flex: 1;
    position: relative;
    min-width: 0;
}
